

<div class="main">
	<div class="about">
		<p class="title">
			<strong>Title:</strong>
			<%= @article.title %>
		</p>
		<p class="article">
		<br>
			<strong>About:</strong>
			<%= @article.text %>
		</p>
	</div>
</div>

<h2> Comments </h2>
	<div class="comments">
		<%= render @article.comments %>
	</div>

<h2> Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>